PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://mohitswami463_db_user:zSPSkGC3FOdBz1uA@tripplanner.kiaaluz.mongodb.net/

# JWT
JWT_SECRET=tripe_planner_lets_plan
JWT_EXPIRES_IN=10d

# SMTP Settings
EMAIL_FROM=mohitswami244@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=testbyramveer@gmail.com
SMTP_PASS=esdlddhvdaqeuzer
SMTP_FROM=mohitswami244@gmail.com

# File Management
MAX_FILE_SIZE=5242880 # 5MB in bytes
UPLOAD_PATH=uploads/
